<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>orders list</title>
<!--
Newline Template
https://templatemo.com/tm-503-newline
-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontAwesome.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>

        <div class="overlay"></div>


        <section class="cd-hero">

          <div class="cd-slider-nav">
            <nav>
              <span class="cd-marker item-1"></span>
              <ul>
                <li class="selected"><a href="#0"><div class="image-icon"><img src="../static/img/home-icon.png"></div><h6>Welcome</h6></a></li>
            <li><a href="/new_order"><div class="image-icon"><img src="../static/img/plus_icon.png"></div><h6>New order</h6></a></li>

              </ul>
            </nav>
          </div> <!-- .cd-slider-nav -->

          <ul class="cd-hero-slider">

            <li class="selected">
              <div class="heading">
                <h1>Orders List</h1>
                <span>Manage your orders efficiently</span>
              </div>
              <div class="cd-full-width first-slide">
                <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="content first-content">

<div class="table-responsive mt-5">
  <table class="table table-bordered table-hover text-center align-middle custom-table">
    <thead class="thead-dark">
      <tr>
        <th>Package ID</th>
        <th>Customer ID</th>
        <th>Courier ID</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <form action="/order_details" method="post" id="form-{{ order.package_id }}">
      <input type="hidden" name="package_id" value="{{ order.package_id }}">
      <input type="hidden" name="customer_id" value="{{ order.customer_id }}">
      <input type="hidden" name="courier_id" value="{{ order.courier_id }}">
      <input type="hidden" name="origin_address_str" value="{{ order.origin_address_str }}">
      <input type="hidden" name="destination_address_str" value="{{ order.destination_address_str }}">
      <input type="hidden" name="status" value="{{ order.status }}">
    </form>
      <tr onclick="document.getElementById('form-{{ order.package_id }}').submit()" style="cursor:pointer;">

        <td>{{ order.package_id }}</td>
        <td>{{ order.customer_id }}</td>
        <td>{{ order.courier_id }}</td>
        <td>{{ order.origin_address_str}}</td>
        <td>{{ order.destination_address_str}}</td>
        <td>
          <span class="label
            {% if order.status == 'delivered' %}
              label-success
            {% elif order.status == 'canceled' %}
              label-danger
            {% elif order.status == 'on-delivery' %}
              label-info
            {% else %}
              label-default
            {% endif %}">
            {{ order.status }}
          </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
      </div> <!-- .content -->
    </div> <!-- .col-md-12 -->
      </div>
    </div>
  </div>
</div>

              </div>
            </li>

        </section> <!-- .cd-hero -->


        <footer>
          <p>Copyright &copy; 2020 Your Company

        	| Designed by <em>Template Mo</em></p>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>


<script>
function goToOrderDetails(order) {
  const params = new URLSearchParams(order).toString();
  window.location.href = `/order_view?${params}`;
}
</script>

</html>
